body{
    background-color: rgba(214, 155, 77, 0.863);
    color: #fffbefce;
    margin: 5px;
    padding: 2px;
}
header,
footer {
    text-align: center;
    background-color: rgba(253, 237, 143, 0.562);
}
p, ul {
 text-align: right;   
}
h2, h3, h4 {
color: crimson;
text-decoration-line: underline;
}