body{
    background-color: rgba(214, 155, 77, 0.863);
    color: #fffbefce;
    margin: 5px;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header,
footer {
    text-align: center;
    background-color: rgba(253, 237, 143, 0.562);
}
p, ul {
 text-align: justify;  
 text-indent: 8ch; 
}
h1 {
color: rgb(247, 180, 180);
font-size: 68px;
}
h2, h3, h4 {
    color: crimson;
    text-decoration-line: underline;
    }



.container {
    position: relative;
    text-align: center;
    color: white;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
